{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <section class="hero">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 my-auto">
                <div class="hero__item">
                    <div class="">
                        <div class="hero__overlay hero__text">
                            <span>100% FRESH</span>
                            <h2>Taste <br/>The Authentic Flavors of Africa</h2>
                            <p>Discover traditional African dishes or Ingredients, spices and more.</p>
                            <a href="{% url 'products' %}" class="primary-btn">SHOP NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}