<nav class="header__menu">
    <ul>
        <li class="active"><a href="{% url 'home' %}">Home</a></li>
        <li><a href="">Shop</a>
            <ul class="header__menu__dropdown">
                <li><a href="">Traditional Dishes</a></li>
                <li><a href="">Grains and Cereal</a></li>
                <li><a href="">Spices and Seasoning</a></li>
                <li><a href="">Meat and Fish</a></li>
                <li><a href="">Vegetable and Fruits</a></li>
            </ul>
        </li>
        <li><a href="">Recipes and Blog</a></li>
        <li><a href="">About Us</a></li>
    </ul>
</nav>