<nav class="header__menu">
    <ul>
        <li class="active"><a href="{% url 'home' %}">Home</a></li>
        <li><a href="">Shop</a>
            <ul class="header__menu__dropdown">
                <li><a href="{% url 'products' %}?category=traditional_dishes">Traditional Dishes</a></li>
                <li><a href="{% url 'products' %}?category=grains_cereal">Grains and Cereal</a></li>
                <li><a href="{% url 'products' %}?category=spices_seasoning">Spices and Seasoning</a></li>
                <li><a href="{% url 'products' %}?category=meat_fish">Meat and Fish</a></li>
                <li><a href="{% url 'products' %}?category=vegetables_fruits">Vegetable and Fruits</a></li>
            </ul>
        </li>
        <li><a href="{% url 'blog:post_list' %}">Recipes and Blog</a></li>
        <li><a href="">About Us</a></li>
    </ul>
</nav>